<p id="notice"><%= notice %></p>

<h1>Searches</h1>
<%= form_with(url:searches_path, local: true, method: :get) do |form| %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>
  <div class="field">
    <%= form.label :page %>
    <%= form.text_field :page %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
  <% i = 1 %>
    <% @searches.each do |search| %>
      <tr>
        <td>
          <button id="button" onclick="setlocalStorage()">保存</button>
        </td>
        <td><%= i %></td><% i += 1 %>
        <td><img src="<%= search['mediumImageUrl'] %>"></td>
        <td><a href="<%= search['itemUrl'] %>" target="_blank"><%= search['title'] %></a></td>
        <td><%= search['itemPrice'] %>円</td>
        <td>レビュー件数:<%= search['reviewCount'] %></td>
        <td><%= search['publisherName'] %></td>
      </tr>
    <% end %>


  </tbody>
</table>

<br>

<%= link_to 'New Search', new_search_path %>
